<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/styles.css" />
    <title>HODLINFO</title>
  </head>
  <body>
    <div>
      <h1 class="header">HODLINFO</h1>
    </div>
    <section class="top">
      <div class="telegram">
        <button >Connect to telegram</button>
        <label style="position: relative; left: 320px;" class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
      <button>INR ▼ </button>
      <button>BTC ▼ </button>
      <button>BUY BTC</button>
    </section>
    <main>
      <section class="price-info">
        <div>
          <h3>0.96 %</h3>
          <p>5 Mins</p>
        </div>
        <div>
          <h3>1 %</h3>
          <p>1 Hour</p>
        </div>
        <div>
          <span class="best">Best Price to Trade</span>
          <h2>₹ 35,90,937</h2>
          <p style="font-size: 20px">
            Average BTC/INR net price including commission
          </p>
        </div>
        <div>
          <h3>5.92 %</h3>
          <p>1 Day</p>
        </div>
        <div>
          <h3>9.59 %</h3>
          <p>7 Days</p>
        </div>
      </section>

      <section class="exchanges">
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>Platform</th>
              <th>Last Traded Price</th>
              <th>Buy / Sell Price</th>
              <th>Volume</th>
              <th>Base Unit</th>
            </tr>
          </thead>
          <tbody class="tbody">
            <% top10Data.forEach((data,index) => { %>
              <div>
                <tr>
                  <td><%= index +1 %></td>
                  <td><%= data.name %></td>
                  <td >₹ <%= data.last %></td>
                  <td >₹ <%=data.buy  %> / ₹ <%= data.sell %></td>
                  <td><%= data.volume %> %</td>
                  <td >▼ ₹ <%= data.base_unit  %></td>
                </tr>
              </div>
          <%  }); %>            
            <!-- <div>
              <tr>
                <td>2</td>
                <td>Bitbns</td>
                <td class="price">₹ 41,99,993</td>
                <td class="price">₹ 41,95,000 / ₹ 41,99,999</td>
                <td>17.59 %</td>
                <td style="color: #6ccacb">▲ ₹ 6,28,360</td>
              </tr>
            </div>
            <div>
              <tr>
                <td>3</td>
                <td>Colodax</td>
                <td class="price">₹ 32,89,711</td>
                <td class="price">₹ 32,73,262 / ₹ 40,13,448</td>
                <td style="color: #d95455">-7.89 %</td>
                <td style="color: #d95455">▼ ₹ 2,81,921</td>
              </tr>
            </div>
            <div>
              <tr>
                <td>4</td>
                <td>Zebpay</td>
                <td class="price">₹ 34,90,000</td>
                <td class="price">₹ 34,92,269 / ₹ 34,80,000</td>
                <td style="color: #d95455">-2.29 %</td>
                <td style="color: #d95455">▼ ₹ 81,632</td>
              </tr>
            </div>
            <div>
              <tr>
                <td>5</td>
                <td>CoinDCX</td>
                <td class="price">₹ 34,51,000</td>
                <td class="price">₹ 34,51,000 / ₹ 34,72,348</td>
                <td style="color: #d95455">-3.38 %</td>
                <td style="color: #d95455">▼ ₹ 1,20,632</td>
              </tr>
            </div> -->
          </tbody>
        </table>
        <div class="btn"><button>Add hodlinfo to homescreen</button></div>
      </section>
    </main>
  </body>
</html>
